
<header class='container h-14 bg-current'>
    <h1 class='text-white'>Task Manager</h1>
</header>
<div class='container'>
    <h2 class='text-green-600 text-center'>
            <%= link_to('Show all tasks',{controller:'tasks', action:'index'}) %>
    </h2>

        
<div>