<form class='mx-auto'>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= f.text_field(:name, class: "form-control", id: "name") %>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <%= f.text_area(:description, class: "form-control", id: "description") %>
  </div>
  <div class="mb-3 form-check">
  <%= f.check_box(:completed, class: "form-check-input", id: "completed") %>
  <label class="form-check-label" for="completed">Completed</label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
