<header class='flex justify-between h-14 w-100vw py-4 bg-emerald-300 drop-shadow-2xl'>
    <h1 class='mx-8'>Task Manager</h1>
    <ul class='flex gap-4'>
        <li>Icon</li>
        <li>Icon</li>
        <li class='mx-8'>Icon</li>
    </ul>
</header>